<div style="border:2px solid blue; padding : 10px; ">

    <h4> Employee Details  </h4>
    Employee Id  :  {{empid}}  <br/>
    Employee Name  :  {{ename}}  <br/>
    Employee Job  :  {{job}}  <br/>
    Employee Deptno  :  {{deptno}}  <br/>
    
  
  
</div>
<hr/>

<table>
    <tr>
        <th colspan="2">Employee Details</th>
    </tr>
    <tr>
        <td>Employee Id</td>
        <td>{{empid}}</td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>{{ename}}</td>
    </tr>
    <tr>
        <td>Employee Job</td>
        <td>{{job}}</td>
    </tr>
    <tr>
        <td>Employee Salary</td>
        <td>{{salary}}</td>
    </tr>
    <tr>
        <td>Employee Depno</td>
        <td>{{deptno}}</td>
    </tr>
</table>
  
   