<link href="login.component.css" rel="stylesheet" />
<p>login works!</p>
<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" />

<hr/>
<table>
    <tr>
        <th>hi</th>
        <th>hello</th>
        <th>welcome</th>
    </tr>
    <tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
    </tr>
    <tr>
        <td>ddd</td>
        <td>eee</td>
        <td>fff</td>
    </tr>
</table>
<hr/>
<ul>
    <li>hi</li>
    <li>hello</li>
    <li>welcome</li>
</ul>