body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.index2{
  text-align: left;
}
.index1{
  
  float: right;
}
.middle{
  text-align:center;
}

.l1{
    color:rgb(85, 6, 6); 
    margin: 8px;
    padding:10px;
    padding-top: 20px;
    text-align: center;
    font-size: larger;
}
.l1:hover{
  opacity: 0.9;
  color: crimson;
}

