.div2{

    margin: 50px 400px;
    background-color: wheat;
    color: rgb(85,6,6);
    height: 400px;
    width: 500px;
    padding-left: 20px;
    text-align: center;
    font-weight:bold ;
    align-items: center;
}
